.landingpage-container{
    width: 100vw;
    height: 100vh;
    background: url(/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.landingpage-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-inline: 20px
    ;
    
   
    color: white;
}

.landingpage-container nav .nav-options{
    font-size: larger;
    align-items: center;
    display: flex;
    gap: 20px;
}
.landingpage-container nav .nav-options a{
    text-decoration: none;
    color: white;
}
.landingpage-container nav .nav-options button{
    background-color: tomato;
    border: 1px solid white;
    color: white;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}
.landingpage-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    color: white;
    margin-inline: auto;
    
}
.landingpage-content .content{
    display: flex;
    width: 40vw;
    flex-direction: column;
    gap: 20px;
}
.landingpage-content .image{
   
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.auth-container .authimage{
    background: url(https://picsum.photos/3000/2000);
    background-repeat: no-repeat;
    background-size:cover;
}
.auth-container .auth-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.auth-container .auth-btn button{
    padding-block: 5px;
    padding-inline: 10px;
    border:none;
    background-color: white;
    font-size: large;
    color: black   ;
}
.auth-container .auth-btn button:hover{
    background-color: aliceblue;
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}